<form (submit)="addTodo()">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      name="title"
      [(ngModel)]="todoTitle"
      placeholder="title"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Description</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      name="description"
      rows="3"
      [(ngModel)]="todoDescription"
    ></textarea>
  </div>

  <button class="btn btn-outline-success" type="submit">Add</button>

  <div class="todos"></div>
</form>
<div *ngFor="let todo of todos">
  <div class="card text-center">
    <div class="card-header">count of completions {{ todo.count }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ todo.title }}</h5>
      <p class="card-text">
        {{ todo.description }}
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="incrementCount(todo.id)"
        >
          +
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="todo.count > 0 ? decrementCount(todo.id) : null"
        >
          -
        </button>
        <!-- <div class="position-absolute top-left">
          <a class="btn btn-primary" (click)="doneTodo(todo.id)">done</a>
        </div> -->

        <div class="text-right">
          <a class="btn btn-danger" (click)="deleteTodo(todo.id)">remove</a>
        </div>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <!-- 
  <div>
    <input type="checkbox" (click)="todo.toggle()" [checked]="todo.completed" />
    <span [ngClass]="{ completed: todo.completed }">{{ todo.title }}</span>
    <button (click)="removeTodo(todo)">X</button>
  </div> -->
</div>
