<!-- <app-root></app-root>
 -->

<!-- <body class="container"> -->
<div class="body">
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a
        class="navbar-brand text-white"
        style="
          color: white;
          font-size: 30px;
          font-family: 'Times New Roman', Times, serif;
        "
        >Todo List</a
      >
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div>
    <app-todo> </app-todo>
  </div>
  <!-- </body> -->
</div>
